APP_NAME="Notification Microservice"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://127.0.1.5
APP_TIMEZONE=Europe/Sofia

API_GATEWAY_URL=http://127.0.0.1
USER_SERVICE_URL=http://127.0.1.1
PAGE_SERVICE_URL=http://127.0.1.2
IMAGE_SERVICE_URL=http://127.0.1.3
RATING_SERVICE_URL=http://127.0.1.4
NOTIFICATION_SERVICE_URL=http://127.0.1.5

LOG_CHANNEL=stack
LOG_SLACK_WEBHOOK_URL=

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=

CACHE_DRIVER=redis
QUEUE_CONNECTION=rabbitmq

# Mailer
MAIL_MAILER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=hello@example.com
MAIL_FROM_NAME="Example app"

# RabbitMQ 
RABBITMQ_HOST= 
RABBITMQ_PORT=5672
RABBITMQ_USER=
RABBITMQ_PASSWORD= 
RABBITMQ_VHOST= 
RABBITMQ_QUEUE=

RABBITMQ_EXCHANGE_NAME=
RABBITMQ_EXCHANGE_DECLARE=true
RABBITMQ_EXCHANGE_TYPE=fanout
RABBITMQ_EXCHANGE_PASSIVE=false
RABBITMQ_EXCHANGE_DURABLE=true
RABBITMQ_EXCHANGE_AUTODELETE=false
RABBITMQ_EXCHANGE_ARGUMENTS=default